# Use this file to construct an environment for
# working with jgo in a runtime setting.
#
# First, install mambaforge:
#
#   https://github.com/conda-forge/miniforge#mambaforge
#
# Then run:
#
#   mamba env create
#   mamba activate jgo
#
# It includes the dependencies needed for using jgo, but not tools
# for developer-related actions like running automated tests (pytest),
# linting the code (black), and generating the API documentation (sphinx).
# If you want an environment including these tools, use dev-environment.yml.
name: jgo
channels:
  - conda-forge
dependencies:
  - python >= 3.8
  # Project dependencies
  - psutil
  # Project from source
  - pip
  - pip:
    - -e '.'
